<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <title></title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>
    </script>
    <style>
        .header {
            width: 100%;
            height: 101px;
            position: fixed;
            top: 0px;
            z-index: 100;
            background-color: #46344E;
            color: #FAED26;
        }

        .footer {
            width: 100%;
            height: 30px;
            position: fixed;
            bottom: 0px;
            background-color: #5A5560;
        }

        .HeaderContentDiv {
            padding-top: 27px;
            padding-left: 3%;
        }

        .HeaderContent {
            font-size: xx-large;
        }

        .MainContentDiv {
            margin-top: 137px;
            margin-bottom: 100px;
            width: 60%;
            margin-left: 20%;
            background-color: black;
            opacity: .6;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }

        .MovieDesc {
            padding: 2%;
        }

        .InfoHeading {
            font-size: larger;
            background-color: darkturquoise;
            color: black;
            font-weight: 700;
        }

        body {
            background-color: ghostwhite;
        }

        td {
            padding: 2%;
        }

        div#preloader {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            overflow: visible;
            opacity: .9;
            display: none;
            background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
        }
    </style>
</head>
<body>
    <div id="Header" class="header">
        <div class="HeaderContentDiv">
            <span class="HeaderContent">Movie Buff</span>
            
        </div>
        <div style="text-align:right"><button type="button" id="btnAddNewMovie" class="btn btn-info" onclick="btnAddNew()" style="background-color:transparent;border-color:white">
    <span class="glyphicon glyphicon-new-window"></span> Add New Movie
</button>
                                      <button type="button" id="btnGoHome" class="btn btn-info" onclick="btnHome()" style="background-color:transparent;border-color:white">
                                          <span class="glyphicon glyphicon-new-window"></span> Go to Movie
                                      </button></div>
    </div>
    <div class="MainContentDiv">
        @RenderBody()
    </div>
    <div class="footer">

    </div>
    <div id="preloader" class="preloader"></div>

</body>
</html>
